In [1]:
import pandas as pd
from transformers import pipeline
import re
import nltk
from nltk.corpus import stopwords

2023-09-06 15:07:49.222644: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-09-06 15:07:50.175072: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Error loading stopwords: <urlopen error [Errno -3]
[nltk_data]     Temporary failure in name resolution>

In [3]:
file_path = 'rumor_tweets.csv'
df = pd.read_csv(file_path)

In [4]:
df.head()

,tweet,Sentiment,Emotion,Unnamed: 3
0,"Breaking: At least 10 dead, 5 injured after tO...",Negative,Fear,NaN
1,France: 10 people dead after shooting at HQ of...,Negative,Fear,NaN
2,Ten killed in shooting at headquarters of Fren...,Negative,Fear,NaN
3,BREAKING: 10 dead in shooting at headquarters ...,Negative,Fear,NaN
4,Reuters: 10 people shot dead at headquarters o...,Negative,Fear,NaN

In [5]:
df.drop(columns=['Sentiment','Emotion','Unnamed: 3'], inplace=True)
df.dropna(inplace=True)
df.head()

                                               tweet
0  Breaking: At least 10 dead, 5 injured after tO...
1  France: 10 people dead after shooting at HQ of...
2  Ten killed in shooting at headquarters of Fren...
3  BREAKING: 10 dead in shooting at headquarters ...
4  Reuters: 10 people shot dead at headquarters o...

In [6]:
def preprocess_tweet(tweet):
    # Convert to lowercase
    tweet = tweet.lower()

    # Remove URLs
    tweet = re.sub(r'http\S+|www\S+|https\S+', '', tweet, flags=re.MULTILINE)

    # Remove special characters and punctuation
    tweet = re.sub(r'[^\w\s]', '', tweet)

    # Tokenize the tweet
    tokens = tweet.split()

    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]

    # Join tokens back into a cleaned tweet
    cleaned_tweet = ' '.join(tokens)

    return cleaned_tweet

In [7]:
df['cleaned_tweets'] = df['tweet'].apply(preprocess_tweet)

In [8]:
df.rename(columns={'cleaned_tweets':'tweet'},inplace=True)
df.head()

,tweet,tweet
0,"Breaking: At least 10 dead, 5 injured after tO...",breaking least 10 dead 5 injured gunman open f...
1,France: 10 people dead after shooting at HQ of...,france 10 people dead shooting hq satirical we...
2,Ten killed in shooting at headquarters of Fren...,ten killed shooting headquarters french satiri...
3,BREAKING: 10 dead in shooting at headquarters ...,breaking 10 dead shooting headquarters french ...
4,Reuters: 10 people shot dead at headquarters o...,reuters 10 people shot dead headquarters frenc...

In [ ]:
classifier = pipeline("text-classification", model="j-hartmann/emotion-english-distilroberta-base", return_all_scores=True)

In [ ]:
df['max_emotion'] = ''

In [ ]:
for index, row in df.iterrows():
    print(index)
    tweet = row['tweet']
    result = classifier(tweet)
    max_score = -1
    max_label = None

    for label_dict in result[0]:
        label = label_dict['label']
        score = label_dict['score']

        if score > max_score:
            max_score = score
            max_label = label

    df.at[index, 'max_emotion'] = max_label